/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Inter";
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.logo-lg {
  height: 150px;
  width: 100%;
  object-fit: contain;
}

#social-auth-container button {
  width: 100% !important;
  @apply py-2 bg-white !border border-solid !border-gray-500
}

#login-form button {
  width: 100% !important;
  @apply mt-8 bg-[#ffc71f]
}

#login-form input {
  width: 100% !important;
}

.nextui-input-main-container, .nextui-input-main-container--normal {
  width: 100% !important;
}

/* #login-form div {
  width: 100% !important;
} */

#onboarding-form button {
  width: 100% !important;
  @apply mt-8 bg-[#ffc71f]
}

#onboarding-form input {
  width: 100% !important;
}

/* #onboarding-form div {
  width: 100% !important;
} */

#blue-button {
  background-color: #2EAAED !important;
}

#download_csv {
  background-color: #9BCC2C !important;
}

#clear_list {
  background-color: #fa5252 !important;
}

.controls {
  width: 95%;
  margin: auto;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: var(--mantine-spacing-xl);
  border: 2px solid var(--mantine-color-gray-8);
  background-color: #FEFBE8;
  /* background-color: var(--mantine-color-gray-0); */
}

.table-wrapper {
  width: 95%;
  max-width: 100%;
  margin: auto;
  overflow-x: auto;
}

/* th,
td,
table {
  border-color: var(--mantine-color-gray-5) !important;
  border-width: 2px !important;
  min-width: max-content !important;
}

td {
  width: fit-content;
  max-width: 200px;
} */

.isbn-search-label {
  font-weight: bold;
  font-size: 24px;
  color: var(--mantine-color-gray-7);
}

.input {
  min-width: 300px;
  width: 100%;
  max-width: 100%;
}

.input-root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

@media (max-width: 968px) {
  .input-root {
    display: block;
  }
}

.point-1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg) translateX(-56px) rotate(0deg);
}

.point-2 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(36deg) translateX(-56px) rotate(-36deg);
}

.point-3 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(72deg) translateX(-56px) rotate(-72deg);
}

.point-4 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(108deg) translateX(-56px) rotate(-108deg);
}

.point-5 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(144deg) translateX(-56px) rotate(-144deg);
}

.point-6 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg) translateX(-56px) rotate(-180deg);
}

.point-7 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(216deg) translateX(-56px) rotate(-216deg);
}

.point-8 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(252deg) translateX(-56px) rotate(-252deg);
}

.point-9 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(288deg) translateX(-56px) rotate(-288deg);
}

.point-10 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(324deg) translateX(-56px) rotate(-324deg);
}